// Pyramids CSS
.pyramids__container {
  position: absolute;
  width: 10rem;
  transform: translateY(-10rem);
  display: block;
  bottom: 0;
  right: 0;
}

.small-pyramid {
  &--light-side {
    position: absolute;
    transform: translateX(-20%);
    width: 12rem;
    height: 10rem;
    background-color: $light_color;
    clip-path: polygon(50% 30%, 100% 100%, 0 100%);
  }
  &--dark-side {
    position: absolute;
    transform: translateX(-20%);
    width: 12rem;
    height: 10rem;
    background-color: $dark_color;
    clip-path: polygon(50% 30%, 80% 100%, 0 100%);
  }
}

.medium-pyramid {
  &--light-side {
    position: absolute;
    transform: translateX(-50%);
    width: 12rem;
    height: 10rem;
    background-color: $light_color;
    clip-path: polygon(50% 15%, 100% 100%, 0 100%);
  }
  &--dark-side {
    position: absolute;
    transform: translateX(-50%);
    width: 12rem;
    height: 10rem;
    background-color: $dark_color;
    clip-path: polygon(50% 15%, 80% 100%, 0 100%);
  }
}

.big-pyramid {
  &--light-side {
    position: absolute;
    transform: translateX(-80%);
    width: 13rem;
    height: 10rem;
    background-color: $light_color;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
  }
  &--dark-side {
    position: absolute;
    transform: translateX(-80%);
    width: 13rem;
    height: 10rem;
    background-color: $dark_color;
    clip-path: polygon(50% 0, 80% 100%, 0 100%);
  }
}

// TUM Logo CSS
.TUM-logo__container {
  display: inline-block;
  position: relative;
  width: 15rem;
  height: 7rem;
  background-color: white;

  &--space-1 {
    position: absolute;
    width: 10%;
    height: 80%;
    bottom: 0;
    background-color: $light_green;
  }

  &--space-2 {
    position: absolute;
    width: 10%;
    height: 80%;
    bottom: 0;
    left: 20%;
    background-color: $light_green;
  }

  &--space-3 {
    position: absolute;
    width: 10%;
    height: 80%;
    top: 0;
    left: 40%;
    background-color: $light_green;
  }

  &--space-4 {
    position: absolute;
    width: 10%;
    height: 80%;
    bottom: 0;
    left: 60%;
    background-color: $light_green;
  }

  &--space-5 {
    position: absolute;
    width: 10%;
    height: 80%;
    bottom: 0;
    left: 80%;
    background-color: $light_green;
  }
}
