// $dark_color: #040549; // Dark Blue
// $light_color: #0a0db5; // Light Blue
$dark_color: #321b09;
$light_color: #d07733;

$light_green: #66bd6c;
$dark_green: #1b401e;

$card_yellow: #f1e771;

$inga_light_blue: #21bdd4;
$inga_dark_green: #074628;

$contact_icon_size: 4rem;
